/* =========================================
   ESTILOS DO MENU SUPERIOR (CENTRALIZADO)
========================================= */

.mega-menu-topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 0 30px;
  height: 60px;
  color: #727272;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 100;
  font-weight: bold;
}

.menu-logo {
  font-size: 18px;
  letter-spacing: 1px;
  white-space: nowrap;
  flex-shrink: 0;
  user-select: none;
  cursor: pointer; /* Estilo extraído do JS */
}

.menu-logo-destaque {
  color: #ffffff; /* Estilo extraído do JS */
  font-weight: 900;
  font-size: 20px;
}

/* O SEGREDO DO CENTRO ESTÁ AQUI */
.menu-lista {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;                     
  justify-content: center;  
  gap: 10px;
}

.menu-item-dropdown {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 3px solid transparent;
}

.menu-item-dropdown:hover {
  background-color: #6e6b6b;
  border-bottom: 3px solid #000000;
}

.menu-titulo {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

/* Menu que cai (Dropdown) */
.dropdown-conteudo {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #ffffff;
  min-width: 220px;
  box-shadow: 0 10px 15px -3px rgb(0, 0, 0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px 0;
  z-index: 1000;
  list-style: none;
  margin: 0;
}

.menu-item-dropdown:hover .dropdown-conteudo {
  display: block;
}

.dropdown-conteudo li {
  padding: 12px 20px;
  color: #000000;
  font-size: 13px;
  transition: all 0.2s;
}

.dropdown-conteudo li:hover {
  background-color: #ffffff;
  color: #000000;
  padding-left: 25px;
}

/* Área do Usuário e Botão Sair */
.menu-usuario {
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  color: #ffffff;
}

.botao-sair {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.2s;
}

.botao-sair:hover {
  background-color: #ff0808;
  color: rgb(253, 253, 253);
}